@media screen and (max-width: 768px) {
    .footer-carusel {
        flex-direction: column-reverse;
    }

    .buttons-carusel{
        margin: 0 auto;
    }
    /* .about-images {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-height: 540px;
        max-width: 945px;
    } */
}